[user]
  name = Cesar Munnoz
  email = Cesar Munoz Email
[core]
  autocrlf = false
  eol = lf
[alias]
  stsu = stash save -u
  l = log --pretty=oneline -n 20 --graph --abbrev-commit
  l1000 = log --pretty=oneline -n 1000 --graph --abbrev-commit
  branches = branch --all
  whoami = config user.email
  whoaminame = config user.name
  aliases = !git config --list | grep ^alias\\. | cut -c 7- | grep -Ei --color \"$1\" "#"
  sw = switch
  swc = switch -c